$fontBody: Lato,Arial,Helvetica,sans-serif;
$fontPlain: Arial,Helvetica,sans-serif;
$fontTitle: EncodeSans,Arial,Helvetica,sans-serif;

$colorLightDark: #f3f3f3;
$colorDark: #060001;
$colorMediumDark: #505050;
$colorAccent: #e13ed7;